node_module
.venv
database.db
__pycache__

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
frontend/src-tauri/crash_reports/

node_modules
dist
dist-ssr
*.local
backend/build
pkg/*
!pkg/README.md
*.spec

frontend/src-tauri/target/

frontend/src-tauri/binaries/*
!frontend/src-tauri/binaries/.gitkeep

frontend/src-tauri/icons/icon.icns
frontend/src-tauri/icons/icon.ico
frontend/src-tauri/icons/png/
frontend/src-tauri/icons/icon.png

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
