services:
  backend:
    build: 
      context: ./backend
    container_name: sky-drama-backend
    ports:
      - "11451:11451"
    volumes:
      - ./backend/assets:/app/assets
      - ./backend/logs:/app/logs
      - ./backend/database.db:/app/database.db
    environment:
      - ASSETS_DIR=/app/assets
      - DATABASE_URL=sqlite:////app/database.db
    restart: always

  frontend:
    build: 
      context: ./frontend
    container_name: sky-drama-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - BACKEND_HOST=backend
      - BACKEND_PORT=11451
    restart: always
